#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.volume-control {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;      
    margin: 0;              
    font-family: monospace;
}

.form-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-wrapper {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    position: relative; 
    margin-top: 50px; 
}